@import "./partials/vars";
@import "./partials/componentes";
@import "./partials/footer";
@import "./partials/main";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
// Para eliminar un error del bootstrap
h1{
    margin-bottom: 0px;
}
p{
    margin-bottom: 0rem;
}
.header{
    .navbar{
        background-color: $hueso !important;
        ul{
            a{
                color: $amarillo !important;
            }
        }
    }
}
